<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no_ip_org.magicperf2.easybudget" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_ico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BudgetListActivity"
            android:label="@string/title_activity_budget_list" >
        </activity>
        <activity
            android:name=".BudgetAddMonthActivity"
            android:label="@string/title_activity_budget_add_month" >
        </activity>
        <activity
            android:name=".MonthListActivity"
            android:label="@string/title_activity_month_list" >
        </activity>
        <activity
            android:name=".MonthAddCategoryActivity"
            android:label="@string/title_activity_month_add_category" >
        </activity>
        <activity
            android:name=".CategoryListActivity"
            android:label="@string/title_activity_category_list" >
        </activity>
        <activity
            android:name=".CatAddDesActivity"
            android:label="@string/title_activity_cat_add_des" >
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
    </application>

</manifest>
