<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.no_ip.magicperf2.easybudget" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TweetListActivity"
            android:label="@string/title_activity_tweet_list" >
        </activity>
        <activity
            android:name=".TweetDetailActivity"
            android:label="@string/title_activity_tweet_detail" >
        </activity>
        <activity
            android:name=".TweetAddActivity"
            android:label="@string/title_activity_tweet_add" >
        </activity>
        <activity
            android:name=".BudgetActivity"
            android:label="@string/title_activity_budget" >
        </activity>
        <activity
            android:name=".MonthAddActivity"
            android:label="@string/title_activity_month_add" >
        </activity>
        <activity
            android:name=".MonthActivity"
            android:label="@string/title_activity_month" >
        </activity>
        <activity
            android:name=".CategoryAddActivity"
            android:label="@string/title_activity_category_add" >
        </activity>
    </application>

</manifest>
